body, html {
    margin:0;
    font-size: small;
    position: absolute;
    color: whitesmoke;
    font-family: arial, sans-serif;
}
body{
    display:flex;
    flex-direction:column;
}

.navigation {
    text-align: right;  
    word-spacing: 10px;
    right: 10px;
}

#logo {
    position: fixed;
    margin-left: 20vw;
    margin-right: 20vw;
    top: 160px;
    display: block;
}

ul {
    list-style: none;
    position: fixed;
    display: inline-block;
}

.navigation li {
    list-style: none;
    position: relative;
    top: 0;
    right: 0;
    left: 81vw;
    float: left;
    padding: 5px;
    margin-top: 12px;
}

.center li {
    list-style: none;
    display: inline-block;
}

input {
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
}

.center p {
    color: black;
    top: 60vh;
    left: 45vw;
    position: fixed;

}

#search {
    border: none;
    outline: none;
    width: 400px;
    height: 25px;
}

.searchbar {
    position: absolute;
    border-radius: 30px;
    top: 42vh;
    left: 34vw;
    font-size: 30px;
    text-align: center;
    border: 1px solid #dcdcdc;
    width: 450px;
}

.searchbar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchbar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

#voice {
    position: relative;
    top: 8px;
    height: 23px;
    width: 23px;
    left: -5px;
}

#btn-search, #lucky {
    border: none;
    top: 48vh;
    position: relative;
    left: 37vw;
    width: 100%;
    padding: 10px;
    margin-top: 13px;
    color: darkgray;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

#btn-search:hover, #lucky:hover {
    color: darkslategray;
}

#footer a {
    color: #757575;
    padding: 5px;
    font-size: 10pt;
}

#footer {
    background: white;
    color: darkgray;
    padding: 7px;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: -5px;
}

.footer:after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    overflow: hidden;
}

.left-footer {
    float: left;
}

.right-footer {
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    color: black;
    border: 1px solid gray;
}
